<launch>
  <arg name="rviz_config" default="/home/jetson/cfy/piper_ws_j/src/grasp/config/piper_ctrl_grasp.rviz" />
  <param
    name="robot_description"
    textfile="$(find piper_description)/urdf/piper_description.xacro" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(arg rviz_config)" />
</launch>
